@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);
  }
  .pb-safe-bottom {
    margin-bottom: env(safe-area-inset-bottom);
  }
  
  /* Ocultar barra de desplazamiento */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
